*{
    padding: 0;
    margin: 0;
    background-color: #F4EEEE;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-content: space-around;
}
#Upload{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
#area{
    border-radius: 10px;
    background-color: white;
}
/* ...................................navigation bar */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#DDD6D5;
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
}
/* logo image */
#logo{     
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo{
    flex: 1;
    margin-left: 20px;
    background-color: #DDD6D5;
}

#profile{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 24px;
    color: #473434;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.buttons{
    background-color: #DDD6D5;
}
/* home,about us, categories and services */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #DDD6D5;
}
a{
    text-decoration: none;
    color:#473434;
    font-size: 16px;
    background-color: #DDD6D5;
}

/* bell and profile */
.buttons{
    display: flex;
    justify-content: right;
    flex: 1;
    align-items: center;
    margin-right: 10px;
}
/* end of navigation bar ------------------------------------*/

/*........................ Footer starting */
.footer{
    height: 60px;
    background-color: #DDD6D5;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h3{

    font-size: 12px;
    font-weight: 100;
    font-family: sans-serif;
    background-color: #DDD6D5;
}