body{
    background-image: url(./Back.png);
    color: #fff;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh; 
}
.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Nav Bar */

nav{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
}

.logo{
    color: white;
    font-size: 20px;
}
.button{
    margin-right: 50px;
}