<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/Registration.css">
</head>
<body>

    <div class="container">

        <div class="content">

            <div class="main">

                <h2>Login</h2> <br>

                <div id="form_2">
    
                    <input type="text" placeholder="Email" class="inpt" id="email"> <br>
    
                    <input type="password" placeholder="Password" class="inpt" id="password"> <br>
    
                    <input type="submit" value=" Login" id="Login" onclick="login()">

                </div> <br> <br>

                <p>Don't have an account? <a href="SignUp.html"> Sign Up. </a></p>



    
            </div>
    
            <div class="pic">
                <img src="./images/main.jpg" alt="">
            </div>

        </div>

        <script src="./js/login.js"></script>


    </div>
    
</body>
</html>